.cards__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 80px;
}

.cards__item:first-child {
  margin-top: 0;
}

@media screen and (max-width: 560px) {
  .cards__item {
    flex-direction: column;
  }
}
