.lead__subtitle {
  margin: 32px auto 0 auto;
  max-width: 640px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 730px) {
  .lead__subtitle {
    width: 55%;
    font-size: 20px;
    line-height: 24px;
  }
}

@media screen and (max-width: 560px) {
  .lead__subtitle {
    width: 65%;
    font-size: 17px;
    line-height: 21px;
  }
}

@media screen and (max-width: 370px) {
  .lead__subtitle {
    width: 85%;
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
  }
}
