.cards__image {
  max-width: 46%;
  margin-top: 48px;
  height: min-content;
}

/* @media screen and (max-width: 1024px) {
  .cards__image {
    padding-right: 32px;
  }
}

@media screen and (max-width: 768px) {
  .cards__image {
    padding-right: 28px;
  }
}

@media screen and (max-width: 320px) {
  .cards__image {
    padding: 0;
    width: 100%;
  }
} */
