.cards__website {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

@media screen and (max-width: 560px) {
  .cards__website {
    margin-top: 32px;
    margin-left: 16px;
  }
}
